	<div id="mycarousel" class="carousel slide" data-ride="carousel" ng-init="main.fullscreenfunc()">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
	    <li data-target="#mycarousel" data-slide-to="1"></li>
	    <li data-target="#mycarousel" data-slide-to="2"></li>
	    <li data-target="#mycarousel" data-slide-to="3"></li>
	    <li data-target="#mycarousel" data-slide-to="4"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner grey-banner" role="listbox">
	    <div class="item">
	        <img src="assets/images/banner.jpg" data-color="lightblue" alt="First Image">
	        <div class="carousel-caption">
	            <h3>First Image</h3>
	        </div>
	    </div>
	    <div class="item">
	        <img src="https://unsplash.it/2000/1250?image=689" data-color="firebrick" alt="Second Image">
	        <div class="carousel-caption">
	            <h3>Second Image</h3>
	        </div>
	    </div>
	    <div class="item">
	        <img src="https://unsplash.it/2000/1250?image=675" data-color="violet" alt="Third Image">
	        <div class="carousel-caption">
	            <h3>Third Image</h3>
	        </div>
	    </div>
	    <div class="item">
	        <img src="https://unsplash.it/2000/1250?image=658" data-color="lightgreen" alt="Fourth Image">
	        <div class="carousel-caption">
	            <h3>Fourth Image</h3>
	        </div>
	    </div>
	    <div class="item">
	        <img src="https://unsplash.it/2000/1250?image=638" data-color="tomato" alt="Fifth Image">
	        <div class="carousel-caption">
	            <h3>Fifth Image</h3>
	        </div>
	    </div>
	    <div class="banner-caption">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
						<h1 class="text-center">We are <span>OuiCrea</span></h1>
						<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos debitis provident nulla illum minus enim praesentium repellendus ullam cupiditate reiciendis optio voluptatem, recusandae nobis quis aperiam, sapiente libero ut at.</p>
					</div>
				</div>
			</div>
		</div>
	  </div>

	</div>
	<!-- banner end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 id="about" class="title text-center">About <span>Worthy</span></h1>
					<p class="lead text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta officia, aspernatur.</p>
					<div class="space"></div>
					<div class="row">
						<div class="col-md-6">
							<img src="assets/images/section-image-1.png" alt="">
							<div class="space"></div>
						</div>
						<div class="col-md-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?</p>
							<ul class="list-unstyled">
								<li><i class="fa fa-caret-right pr-10 text-colored"></i> Lorem ipsum dolor sit amet</li>
								<li><i class="fa fa-caret-right pr-10 text-colored"></i> Reiciendis deleniti neque aliquid</li>
								<li><i class="fa fa-caret-right pr-10 text-colored"></i> Ipsam fuga error commodi</li>
								<li><i class="fa fa-caret-right pr-10 text-colored"></i> Lorem ipsum dolor sit amet</li>
								<li><i class="fa fa-caret-right pr-10 text-colored"></i> Dignissimos molestiae necessitatibus</li>
							</ul>
						</div>
					</div>
					<div class="space"></div>
					<h2>Becessitatibus quae beatae possimus ullam</h2>
					<div class="row">
						<div class="col-md-6">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?</p>
							<p>Vitae dolores quam magnam accusantium nam, voluptatibus expedita delectus, dolorum odio magni ut nemo nihil ex earum pariatur molestias velit eveniet, facere autem saepe aut. Ut minima itaque porro facere. Cumque vitae autem, dignissimos molestiae necessitatibus culpa aliquam deleniti soluta sunt voluptatibus tenetur, unde dolorem eligendi doloribus quibusdam facere totam. Possimus atque deserunt numquam aliquam magnam, facilis officiis illo alias ipsa voluptas laborum, praesentium eveniet nobis velit voluptatem odio eligendi, corporis et iste distinctio! Repellendus, id, ad.</p>
						</div>
						<div class="col-md-6">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h4 class="panel-title">
											<a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
												Collapsible Group Item #1
											</a>
										</h4>
									</div>
									<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
												Collapsible Group Item #2
											</a>
										</h4>
									</div>
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
										</div>
									</div>
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h4 class="panel-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
												Collapsible Group Item #3
											</a>
										</h4>
									</div>
									<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
										<div class="panel-body">
											Richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="section translucent-bg bg-image-1 blue">
		<div class="container object-non-visible" data-animation-effect="fadeIn">
			<h1 id="services"  class="text-center title">Worthy Services</h1>
			<div class="space"></div>
			<div class="row">
				<div class="col-sm-6">
					<div class="media">
						<div class="media-body text-right">
							<h4 class="media-heading">Service 1</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
						<div class="media-right">
							<i class="fa fa-cog"></i>
						</div>
					</div>
					<div class="media">
						<div class="media-body text-right">
							<h4 class="media-heading">Service 2</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
						<div class="media-right">
							<i class="fa fa-check"></i>
						</div>
					</div>
					<div class="media">
						<div class="media-body text-right">
							<h4 class="media-heading">Service 3</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
						<div class="media-right">
							<i class="fa fa-desktop"></i>
						</div>
					</div>
					<div class="media">
						<div class="media-body text-right">
							<h4 class="media-heading">Service 4</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
						<div class="media-right">
							<i class="fa fa-users"></i>
						</div>
					</div>
				</div>
				<div class="space visible-xs"></div>
				<div class="col-sm-6">
					<div class="media">
						<div class="media-left">
							<i class="fa fa-leaf"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Service 5</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<i class="fa fa-area-chart"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Service 6</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<i class="fa fa-child"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Service 7</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
					</div>
					<div class="media">
						<div class="media-left">
							<i class="fa fa-codepen"></i>
						</div>
						<div class="media-body">
							<h4 class="media-heading">Service 8</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="default-bg space blue">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="text-center">Let's Work Together!</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="section">
		<div class="container">
			<h1 class="text-center title" id="portfolio">Portfolio</h1>
			<div class="separator"></div>
			<p class="lead text-center">Lorem ipsum dolor sit amet laudantium molestias similique.<br> Quisquam incidunt ut laboriosam.</p>
			<br>			
			<div class="row object-non-visible" data-animation-effect="fadeIn">
				<div class="col-md-12">

					<!-- isotope filters start -->
					<div class="filters text-center" ng-controller="tagCtrl as tag">
						<ul class="nav nav-pills">
							<li ng-repeat="item in tag.tags"><a href="#" data-filter="*">{{item.t_name}}</a></li>
						</ul>
					</div>
					<!-- isotope filters end -->

					<!-- portfolio items start -->
					<div class="isotope-container row grid-space-20" ng-controller="newsCtrl as news">
						<div class="col-sm-6 col-md-3 isotope-item web-design" ng-repeat="item in news.news">
							<div class="image-box">
								<div class="overlay-container">
									<img ng-src="uploads/newspage/{{item.n_page}}">
									<a class="overlay" ng-click="news.toArticle(item)">
										<i class="fa fa-search-plus"></i>
										<span>{{item.n_bref}}</span>
									</a>
								</div>
								<a class="btn btn-default btn-block">{{item.n_title}}</a>
							</div>
							
						</div>

					</div>
					<!-- portfolio items end -->
				
				</div>
			</div>
		</div>
	</div>
	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="section translucent-bg bg-image-2 pb-clear">
		<div class="container object-non-visible" data-animation-effect="fadeIn">
			<h1 id="clients" class="title text-center">Clients</h1>
			<div class="space"></div>
			<div class="row">
				<div class="col-md-4">
					<div class="media testimonial">
						<div class="media-left">
							<img src="assets/images/testimonial-1.png" alt="">
						</div>
						<div class="media-body">
							<h3 class="media-heading">You are Amazing!</h3>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media testimonial">
						<div class="media-left">
							<img src="assets/images/testimonial-2.png" alt="">
						</div>
						<div class="media-body">
							<h3 class="media-heading">Yeah!</h3>
							<blockquote>
								<p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media testimonial">
						<div class="media-left">
							<img src="assets/images/testimonial-3.png" alt="">
						</div>
						<div class="media-body">
							<h3 class="media-heading">Thank You!</h3>
							<blockquote>
								<p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="media testimonial">
						<div class="media-left">
							<img src="assets/images/testimonial-2.png" alt="">
						</div>
						<div class="media-body">
							<h3 class="media-heading">Thank You!</h3>
							<blockquote>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media testimonial">
						<div class="media-left">
							<img src="assets/images/testimonial-3.png" alt="">
						</div>
						<div class="media-body">
							<h3 class="media-heading">Amazing!</h3>
							<blockquote>
								<p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="media testimonial">
						<div class="media-left">
							<img src="assets/images/testimonial-1.png" alt="">
						</div>
						<div class="media-body">
							<h3 class="media-heading">Best!</h3>
							<blockquote>
								<p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
								<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section start -->
		<!-- ================ -->
		<div class="translucent-bg blue">
			<div class="container">
				<div class="list-horizontal">
					<div class="row">
						<div class="col-xs-2">
							<div class="list-horizontal-item">
								<img src="assets/images/client-1.png" alt="client">
							</div>
						</div>
						<div class="col-xs-2">
							<div class="list-horizontal-item">
								<img src="assets/images/client-2.png" alt="client">
							</div>
						</div>
						<div class="col-xs-2">
							<div class="list-horizontal-item">
								<img src="assets/images/client-3.png" alt="client">
							</div>
						</div>
						<div class="col-xs-2">
							<div class="list-horizontal-item">
								<img src="assets/images/client-4.png" alt="client">
							</div>
						</div>
						<div class="col-xs-2">
							<div class="list-horizontal-item">
								<img src="assets/images/client-5.png" alt="client">
							</div>
						</div>
						<div class="col-xs-2">
							<div class="list-horizontal-item">
								<img src="assets/images/client-6.png" alt="client">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section end -->
	</div>
	<!-- section end -->

	<!-- section start -->
	<!-- ================ -->
	<div class="default-bg space">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h1 class="text-center">10000+ Happy Clients!</h1>
				</div>
			</div>
		</div>
	</div>
