<div class="hidden-xs">
    <div class="title-home">
        <h1>Ouicrea</h1>
        <p>Programme d’incubation cross border</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">
                <div class="row" style="margin-left: 15px;margin-top: 10px;">
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/01.jpg" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">CHA</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/02.jpg" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">FRENCH GATEWAY</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/03.png" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">WIN IN SUZHOU</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="foodpageimg">
                    <p class="title-space">Chine-Hexagone Accelerator:</p>
                    <p class="title-space">Programme d’incubation crossborder</p>
                    <div>
                        <img class="title-logo-cha" src="../../../assets/images/chalogo.png">
                    </div>
                </div>

                <div>
                    <p class="sub-cha-body">Chine-Hexagone Accelerator (CHA) est un programme d’accélération conçu par OuiCrea en 2017 issue de ses propres expertises pour les entrepreneurs et les startups transfrontalières, qui consiste le coeurs de metiers de l'écosystème OuiCrea.</p>
                    <p class="sub-cha-body">Le projet s’appuie sur l’espace OuiCrea CHA@Station F, aidant les entreprises innovantes francaises à comprendre le marché chinois et à essayer d‘y entrer, également aidant les entreprises innovantes chinoises à développer des activités en Europe.</p>
                    <p class="sub-cha-body">En effet, Le programme Chine-Accelerator Hexagone s’appelle le programme 6 + 6, dont constituant de 6 mois d’incubation et de 6 mois d’acceleration dans les deux pays respectivement.</p>
                    <p class="sub-cha-body">A travers du programme, nous accompagnons la transformation de 0 à 1 de la strategie internationale d’une startup.</p>
                </div>

                <div class="card sub-cha-card sub-first-card color-card-cha-1">
                    <div class="card-header">
                        1er mois
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Installation au OuiCrea CHA (Station F)<br>
                                Formation sur Business plan et présentation<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-2">
                    <div class="card-header">
                        2nd mois
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Evaluation et amélioration du business plan<br>
                                Pitch oral (connection avec un concours)<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-3">
                    <div class="card-header">
                        3eme mois
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Workshops : connaitre le marché chinois<br>
                                Étude de marché chinois avec des étudiants chinois en France<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-4">
                    <div class="card-header">
                        4eme mois
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Expédition en Chine, voyage d’affaires</p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-5">
                    <div class="card-header">
                        5ème mois
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Préparation à la délocalisation en Chine<br>
                                Formation sur les compétences commerciales en Chine (2 heures)<br>
                                Formation sur la culture chinoise et la langue de base (2 heures)<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-6">
                    <div class="card-header">
                        6ème mois
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Processus d'administration pour l’installation en Chine<br>
                                Enregistrement de la société en Chine<br>
                                Construction de site web, service Cloud<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-7">
                    <div class="card-header">
                        7ème – 12ème mois:
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Incubation au OuiCrea en China (Suzhou/Shanghai) ou dans un incubateur de partenaires</p>
                        </blockquote>
                    </div>
                </div>

                <div class="sub-cha-adr">
                    <p>Nous avons le programme similaire pour les entreprise chinoise souhaitant installer en Europe.</p>
                </div>

                <img class="sub-cha-body-img" ng-src="assets/images/pic/21.png">

            </div>
        </div>
    </div>
</div>