<footer id="footer">
	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer section">
		<div class="container">
			<h1 class="title text-center" id="contact">项目申请</h1>
			<div class="space"></div>
			<div class="row">
				<div class="col-sm-6">
					<div class="footer-content">
						<p class="large">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nam magnam natus tempora cumque, aliquam deleniti voluptatibus voluptas. Repellat vel, et itaque commodi iste ab, laudantium voluptas deserunt nobis.</p>
						<ul class="list-icons">
							<li><i class="fa fa-map-marker pr-10"></i> 55 Boulevard Vincent-Auriol, 75013 Paris </li>
							<li><i class="fa fa-phone pr-10"></i> +00 1234567890</li>
							<li><i class="fa fa-fax pr-10"></i> +00 1234567891 </li>
							<li><i class="fa fa-envelope-o pr-10"></i> Email: contact@ouicrea.com</li>
						</ul>
						<ul class="social-links">
							<li class="facebook"><a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i class="fa fa-facebook"></i></a></li>
							<li class="twitter"><a target="_blank" href="https://twitter.com/HtmlcoderMe"><i class="fa fa-twitter"></i></a></li>
							<li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
							<li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a></li>
							<li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
							<li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a></li>
							<li class="flickr"><a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a></li>
							<li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6" ng-controller="projectCtrl as project">
					<div class="footer-content">
						<form ng-submit="project.createProject(project.currentProject)">
							<div class="form-group has-feedback">
								<label class="sr-only" for="name2">申请人姓名</label>
								<input type="text" class="form-control" id="name2" placeholder="申请人姓名" name="name2" ng-model="project.currentProject.p_username" required>
								<i class="fa fa-user form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="email2">申请人联系方式</label>
								<input type="text" class="form-control" id="email2" placeholder="申请人联系方式" name="email2" ng-model="project.currentProject.p_usercontact" required>
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="email2">项目名称</label>
								<input type="text" class="form-control" id="email2" placeholder="项目名称" name="email2" ng-model="project.currentProject.p_title" required>
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="message2">项目内容</label>
								<textarea class="form-control" rows="8" id="message2" placeholder="项目内容" name="message2" ng-model="project.currentProject.p_content" required></textarea>
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
							<div class="alert alert-success" role="alert" ng-show="project.sucmsg">
							  <h4 class="alert-heading">提交成功！</h4>
							  <p>恭喜您成功的提交了项目申请，我们会在3个工作日之内与你取得联系，谢谢！</p>
							  <hr>
							  <p class="mb-0">如果你还有什么问题，可以联系我们邮箱contact@ouicrea.com</p>
							</div>
							<input type="submit" value="提交申请" class="btn btn-default" ng-show="!project.sucmsg">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->

	<!-- .subfooter start -->
	<!-- ================ -->
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">Copyright © 2017 Ouicrea by <a target="_blank" href="http://htmlcoder.me">Ouicrea</a>.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- .subfooter end -->

</footer>