<footer id="footer">
	<!-- .footer start -->
	<!-- ================ -->
	<div class="footer section">
		<div class="container">
			<h1 class="title text-center" id="contact" ng-show="!isChinese && !isEnglish">Contactez-nous</h1>
			<h1 class="title text-center" id="contact1" ng-show="isChinese && !isEnglish">联系我们</h1>
			<h1 class="title text-center" id="contact2" ng-show="isEnglish && !isChinese">Contact-us</h1>
			<div class="space"></div>
			<div class="row">
				<div class="col-sm-6">
					<div class="footer-content">
						<p class="large"><i class="fa fa-envelope-o pr-10"></i>Contact@ouicrea.com</p>
						<ul class="list-icons">
							<li><i class="fa fa-map-marker pr-10"></i>  30, Rue Eugène Freyssinet, 75013 Paris, France <br><i class="fa fa-envelope-o pr-10"></i>Email: weiyuan.xu@ouicrea.com<br><br></li>
							<li><i class="fa fa-map-marker pr-10"></i>  Building 7, No. 690, Bibo Rd, Pudong New Area, Shanghai, China<br><i class="fa fa-map-marker pr-10"></i>  23rd Floor, Raffles City, Zhongshan Park, Shanghai, China
								<br><i class="fa fa-envelope-o pr-10"></i>Email: tianlun.li@ouicrea.com<br><br></li>
							<li><i class="fa fa-map-marker pr-10"></i>601, Building C, 99 Ren'ai Rd, Suzhou<br><i class="fa fa-envelope-o pr-10"></i>Email: yuan.liu@ouicrea.com</li>
						</ul>
						<ul class="social-links">
							<li class="facebook"><a target="_blank" href="https://www.facebook.com/OuiCrea/"><i class="fa fa-facebook"></i></a></li>
							<li class="twitter"><a target="_blank" href="https://twitter.com/ouicrea"><i class="fa fa-twitter"></i></a></li>
							<li class="twitter"><a target="_blank" href="https://www.instagram.com/ouicreaparis"><i class="fa fa-instagram"></i></a></li>
							<!--<li class="googleplus"><a target="_blank" href="#"><i class="fa fa-google-plus"></i></a></li>
							<li class="skype"><a target="_blank" href="#"><i class="fa fa-skype"></i></a></li>-->
							<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/11094106/"><i class="fa fa-linkedin"></i></a></li>
							<li class="twitter"><a target="_blank" href="https://mp.weixin.qq.com/s?__biz=MzAwMjAzNDcxNg==&mid=2650243685&idx=1&sn=afb3b80e1cf225bcdb84a484ae15a50e&chksm=82d3bf16b5a43600b0475386857be668e5e51ccde5c4a915f6869591ad1d3149e7d9d680c7d2&mpshare=1&scene=1&srcid=1024gIBmVxbMJsOA8Twjwzfs&pass_ticket=08sf1nyq3Trcza%2B9bK56CvTfA9jPqReXfvYuAtcRu2sNTiVw%2BT8aPJTyWcnftzlT#rd
"><i class="fa fa-weixin"></i></a></li>
							<li class="twitter"><a target="_blank" href="https://www.zhihu.com/people/ouicrea/activities"><img ng-src="assets/images/zhihulogo1.png" class="zhihulogo"></a></li>

							<!--<li class="youtube"><a target="_blank" href="#"><i class="fa fa-youtube"></i></a></li>
							<li class="flickr"><a target="_blank" href="#"><i class="fa fa-flickr"></i></a></li>
							<li class="pinterest"><a target="_blank" href="#"><i class="fa fa-pinterest"></i></a></li>-->
						</ul>
					</div>
				</div>
				<div class="col-sm-6" ng-controller="projectCtrl as project">
					<div class="footer-content">
						<form ng-submit="project.createProject(project.currentProject)">
							<div class="form-group has-feedback">
								<label class="sr-only" for="name2">申请人姓名／Nom</label>
								<input type="text" class="form-control" id="name2" placeholder="申请人姓名／Nom" name="name2" ng-model="project.currentProject.p_username" required>
								<i class="fa fa-user form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<label class="sr-only" for="email2">申请人联系方式／Informations de contact</label>
								<input type="text" class="form-control" id="email2" placeholder="申请人联系方式／Informations de contact" name="email2" ng-model="project.currentProject.p_usercontact" required>
								<i class="fa fa-envelope form-control-feedback"></i>
							</div>
							<div class="form-group has-feedback">
								<!--<label class="sr-only" for="email2">项目名称</label>-->
							<select class="form-control" ng-model="project.currentProject.p_title" ng-init="project.currentProject.p_title='1'">
								<option ng-selected="true" value="1">选择分类／Sélectionnez une catégorie</option>
								<option value="申请入驻">申请入驻／Devenir incubé</option>
								<option value="申请参观">申请参观／Demande de visite</option>
								<option value="跨境孵化">跨境孵化／Incubation transfrontalière</option>
								<option value="融资需求">融资需求／Levée de fonds</option>
								<option value="创新之旅">创新之旅／OuiCrea Tour</option>
								<option value="合作">合作／Coopération</option>
								<option value="创投俱乐部">创投俱乐部／Cercle d’investisseurs</option>
								<option value="其他">其他／Autre</option>
							</select>
								<!--<input type="text" class="form-control" id="email2" placeholder="项目名称" name="email2" ng-model="project.currentProject.p_title" required>-->
								<!--<i class="fa fa-envelope form-control-feedback"></i>-->
							</div>

							<div class="form-group has-feedback">
								<label class="sr-only" for="message2">项目内容／Contenu du projet</label>
								<textarea class="form-control" rows="8" id="message2" placeholder="项目内容／Contenu du projet" name="message2" ng-model="project.currentProject.p_content" required></textarea>
								<i class="fa fa-pencil form-control-feedback"></i>
							</div>
							<div class="alert alert-success" role="alert" ng-show="project.sucmsg">
							  <h4 class="alert-heading">提交成功！</h4>
							  <p>恭喜您成功的提交了项目申请，我们会在3个工作日之内与你取得联系，谢谢！</p>
							  <hr>
							  <p class="mb-0">如果你还有什么问题，可以联系我们邮箱contact@ouicrea.com</p>
							  <p>Votre demande a bien été enregistrée, nous traitons votre demande dans un délais de moins de trois jours. Si vous avez des questions, n'hésitez pas à nous contacter: contact@ouicrea.com </p>
							</div>
							<input type="submit" value="提交申请／Envoyer" class="btn btn-default" ng-show="!project.sucmsg">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- .footer end -->

	<!-- .subfooter start -->
	<!-- ================ -->
	<div class="subfooter">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-center">Copyright © 2017 Ouicrea by <a target="_blank" href="http://htmlcoder.me">Ouicrea</a>.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- .subfooter end -->

</footer>