<header class="header fixed clearfix navbar navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-xs-5">

				<!-- header-left start -->
				<!-- ================ -->
				<div class="header-left clearfix" ng-show="!isChinese">

					<!-- logo -->
					<div class="logo smooth-scroll">
						<a ng-click="main.backHome()"><img id="logo" class="ouicrealogo" src="assets/images/ouicrealogo1.png" alt="Worthy"></a>
					</div>

					<!-- name-and-slogan -->
					<!--<div class="site-name-and-slogan smooth-scroll">
						<div class="site-name"><a ng-click="main.backHome()">Ouicrea</a></div>
						<div class="site-slogan">欧创慧</div>
					</div>-->

				</div>
				<div class="header-left clearfix" ng-show="isChinese">

					<!-- logo -->
					<div class="logo smooth-scroll">
						<a ng-click="main.backHomeChinese()"><img id="logo" class="ouicrealogo" src="assets/images/ouicrealogo1.png" alt="Worthy"></a>
					</div>

					<!-- name-and-slogan -->
					<!--<div class="site-name-and-slogan smooth-scroll">
						<div class="site-name"><a ng-click="main.backHome()">Ouicrea</a></div>
						<div class="site-slogan">欧创慧</div>
					</div>-->

				</div>
				<!-- header-left end -->

			</div>
			<div class="col-md-9 col-xs-7">

				<!-- header-right start -->
				<!-- ================ -->
				<div class="header-right clearfix">

					<!-- main-navigation start -->
					<!-- ================ -->
					<div class="main-navigation animated">

						<!-- navbar start -->
						<!-- ================ -->
						<nav class="navbar navbar-default" role="navigation">
							<div class="container-fluid">

								<!-- Toggle get grouped for better mobile display -->
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>

								<!-- Collect the nav links, forms, and other content for toggling -->
								<div class="collapse navbar-collapse scrollspy smooth-scroll navbar-background" id="navbar-collapse-1">
									<ul class="nav navbar-nav navbar-right" ng-show="!isChinese">
										<li class="active" ng-show ="isNav"><a href="#mycarousel">Accueil</a></li>
										<li class="active" ng-show ="!isNav"><a ng-click="toHomeOuiCrea()">Accueil</a></li>
										<!--<li ng-show ="isNav" class="pagehome"><a ng-click="main.backHome()">Home</a></li>-->
										<li><a href="#about" ng-show ="isNav">Nos Espaces</a></li>
										<li ng-show ="!isNav"><a ng-click="toHomeOuiCrea()">Nos Espaces</a></li>
										<!--<li><a href="#portfolio" ng-show ="isNav">Nouvelles</a></li>-->
										<li><a ui-sref="app.cha">CHA</a></li>
										<li><a ui-sref="app.tour">OuiCrea Tour</a></li>
										<!--<li><a href="#services" ng-show ="isNav">Nos Chiffres</a></li>-->
										<!--<li><a href="#clients" ng-show ="isNav">Clients</a></li>-->
										<li><a href="#contact" ng-show ="isNav">Nos contacts</a></li>
										<li ng-show ="!isNav"><a href="#contact">Nos contacts</a></li>
										<li><a ng-click="main.toChinese()">中文</a></li>
									</ul>
									<ul class="nav navbar-nav navbar-right" ng-show="isChinese">
										<li class="active" ng-show ="isNav"><a href="#mycarousel">首页</a></li>
										<li class="active" ng-show ="!isNav"><a ng-click="toHomeOuiCrea()">首页</a></li>
										<!--<li ng-show ="isNav" class="pagehome"><a ng-click="main.backHome()">Home</a></li>-->
										<li><a href="#about" ng-show ="isNav">空间</a></li>
										<li ng-show ="!isNav"><a ng-click="toHomeOuiCrea()">空间</a></li>
										<!--<li><a href="#portfolio" ng-show ="isNav">新闻</a></li>-->
										<li><a ui-sref="app.cncha">跨境孵化</a></li>
										<li><a ui-sref="app.cntour">创新之旅</a></li>
										<li><a ui-sref="app.cnclub">创投俱乐部</a></li>
										<!--<li><a href="#services" ng-show ="isNav">Nos Chiffres</a></li>-->
										<!--<li><a href="#clients" ng-show ="isNav">Clients</a></li>-->
										<li><a href="#contact1" ng-show ="isNav">联系我们</a></li>
										<li ng-show ="!isNav"><a href="#contact1">联系我们</a></li>
										<li><a ng-click="main.toFrench()">Français</a></li>
									</ul>
								</div>

							</div>
						</nav>
						<!-- navbar end -->

					</div>
					<!-- main-navigation end -->

				</div>
				<!-- header-right end -->

			</div>
		</div>
	</div>
</header>


