<div class="body"></div>
	<div class="grad"></div>
	<div class="header-login">
		<div>登录<span>Ouicrea</span></div>
	</div>
	<br>
	<div class="login">
		<input type="text" placeholder="username" name="user" ng-model="main.postData.username"><br><br>
		<input type="text" placeholder="email" name="email" ng-model="main.postData.email"><br><br>
		<input type="password" placeholder="password" name="password" ng-model="main.postData.password"><br>
		<input type="button" value="Post" ng-click="main.doPost(postData)">
	</div>
</div>
 
  

