<div class="hidden-xs">
    <div class="title-home">
        <p><a ui-sref="app.space1" class="title-home-a">OuiCrea·CHA</a></p>
        <p><a ui-sref="app.space2" class="title-home-a">OuiCrea·Shanghai</a></p>
        <p><a ui-sref="app.space3" class="title-home-a">OuiCrea·Suzhou</a></p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg" ng-init="cha.carousel()">
                <div class="foodpageimg">
                    <p class="title-space">OuiCrea Suzhou</p>
                    <p class="p-grey title-sub-cha">OuiCrea Suzhou@HSR New City</p>
                </div>

                <div id="example3" class="slider-pro">
                    <div class="sp-slides">
                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/3.png"
                                 data-small="assets/images/pic/3.png"
                                 data-medium="assets/images/pic/3.png"
                                 data-large="assets/images/pic/3.png"
                                 data-retina="assets/images/pic/3.png"/>

                            <!--<p class="sp-layer sp-white sp-padding"
                               data-horizontal="50" data-vertical="50"
                               data-show-transition="left" data-show-delay="400">
                                Lorem ipsum
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-horizontal="180" data-vertical="50"
                               data-show-transition="left" data-show-delay="600">
                                dolor sit amet
                            </p>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="315" data-vertical="50"
                               data-show-transition="left" data-show-delay="800">
                                consectetur adipisicing elit.
                            </p>-->
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/4.png"
                                 data-small="assets/images/pic/4.png"
                                 data-medium="assets/images/pic/4.png"
                                 data-large="assets/images/pic/4.png"
                                 data-retina="assets/images/pic/4.png"/>

                            <!--<h3 class="sp-layer sp-black sp-padding"
                                data-horizontal="40" data-vertical="40"
                                data-show-transition="left">
                                Lorem ipsum dolor sit amet
                            </h3>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="40" data-vertical="100"
                               data-show-transition="left" data-show-delay="200">
                                consectetur adipisicing elit
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-horizontal="40" data-vertical="160" data-width="350"
                               data-show-transition="left" data-show-delay="400">
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/5.png"
                                 data-small="assets/images/pic/5.png"
                                 data-medium="assets/images/pic/5.png"
                                 data-large="assets/images/pic/5.png"
                                 data-retina="assets/images/pic/5.png"/>

                            <!--<p class="sp-layer sp-white sp-padding"
                               data-position="centerCenter" data-vertical="-50"
                               data-show-transition="right" data-show-delay="500" >
                                Lorem ipsum dolor sit amet
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-position="centerCenter" data-vertical="50"
                               data-show-transition="left" data-show-delay="700">
                                consectetur adipisicing elit
                            </p>-->
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/7.png"
                                 data-small="assets/images/pic/7.png"
                                 data-medium="assets/images/pic/7.png"
                                 data-large="assets/images/pic/7.png"
                                 data-retina="assets/images/pic/7.png"/>

                            <!--<p class="sp-layer sp-black sp-padding"
                               data-position="bottomLeft" data-vertical="0" data-width="100%"
                               data-show-transition="up">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/8.png"
                                 data-small="assets/images/pic/8.png"
                                 data-medium="assets/images/pic/8.png"
                                 data-large="assets/images/pic/8.png"
                                 data-retina="assets/images/pic/8.png"/>

                            <!--<p class="sp-layer sp-white sp-padding"
                               data-vertical="5%" data-horizontal="5%" data-width="90%"
                               data-show-transition="down" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/9.png"
                                 data-small="assets/images/pic/9.png"
                                 data-medium="assets/images/pic/9.png"
                                 data-large="assets/images/pic/9.png"
                                 data-retina="assets/images/pic/9.png"/>

                            <!--<p class="sp-layer sp-white sp-padding"
                               data-horizontal="10" data-vertical="10" data-width="300">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/10.png"
                                 data-small="assets/images/pic/10.png"
                                 data-medium="assets/images/pic/10.png"
                                 data-large="assets/images/pic/10.png"
                                 data-retina="assets/images/pic/10.png"/>

                            <!--<p class="sp-layer sp-black sp-padding"
                               data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%"
                               data-show-transition="up" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>-->
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/11.png"
                                 data-small="assets/images/pic/11.png"
                                 data-medium="assets/images/pic/11.png"
                                 data-large="assets/images/pic/11.png"
                                 data-retina="assets/images/pic/11.png"/>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/12.png"
                                 data-small="assets/images/pic/12.png"
                                 data-medium="assets/images/pic/12.png"
                                 data-large="assets/images/pic/12.png"
                                 data-retina="assets/images/pic/12.png"/>

                            <!--<p class="sp-layer sp-black sp-padding"
                               data-horizontal="50" data-vertical="50"
                               data-show-transition="down" data-show-delay="500">
                                Lorem ipsum dolor sit amet
                            </p>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="50" data-vertical="100"
                               data-show-transition="up" data-show-delay="500">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>-->
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="assets/images/pic/1.png"
                                 data-small="assets/images/pic/1.png"
                                 data-medium="assets/images/pic/1.png"
                                 data-large="assets/images/pic/1.png"
                                 data-retina="assets/images/pic/1.png"/>
                        </div>
                    </div>

                    <div class="sp-thumbnails">
                        <img class="sp-thumbnail" ng-src="assets/images/pic/3.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/4.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/5.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/7.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/8.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/9.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/10.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/11.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/12.png"/>
                        <img class="sp-thumbnail" ng-src="assets/images/pic/1.png"/>
                    </div>
                </div>

                <div>

                    <p class="sub-cha-body">Suzhou HSR New city coworking space se situe à cote de la Gare du Nord Suzhou, avec une superficie de 10,043 mètres carrés. Il se concentre principalement au l'Internet mobile, les médias vidéo, e-commerce, bigdata et d'autres secteurs d'activité. Il offre une gamme complète de services aux stratups: accueil de startups, connection au capital et des conseils d'affaires. </p>
                    <p class="sub-cha-body">2015, l’ACECE et Suzhou HSR New city coworking space ont co-créé une espace dédiée aux entrepreneurs chinois en France, visant à agréger des projets entrepreneurial à l'étranger, a sélectionner les meilleurs projets enfin de leurs installer à Suzhou.</p>
                    <p class="sub-cha-body">Il construit une chaîne de services complets pour les startups etrangers qui souhaitent à s’implementer a Suzhou, grâce au concours « Win in Suzhou ». La ville Suzhou, avec ses politiques uniques genres de soutien aux entreprises, attire des entrepreneurs et startups innovantes. En 2017, ACECE Association et Suzhou HSR New city coworking rejoignent dans le réseau de OuiCrea.</p>

                    <!--<img class="sub-cha-body-img" ng-src="assets/images/pic/10.png">-->

                    <div class="jumbotron jumbotron-fluid sub-cha-jum">
                        <div class="container">
                            <h1 class="display-3">OuiCrea Suzhou</h1>
                            <p>Bureau et chaise, espace détente, salle reunion,  WiFi, Assurance, courrier, casier de stockage</p>
                        </div>
                    </div>

                    <div class="jumbotron jumbotron-fluid sub-cha-jum">
                        <div class="container">

                            <p class="lead">Autre service</p>
                            <p>Evènement,  Service Administration, Service d’Avocat, Service comptable, Domiciliation, Inteprétation, RH,  développeurs, Stratégie internationale</p>
                        </div>
                    </div>

                    <div class="sub-cha-adr">
                        <p>Adresse</p>
                        <p>58 Nantiancheng Rd, Xiangcheng District, Suzhou, China</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>