<div class="hidden-xs">
    <div class="title-home">
        <h1>Ouicrea</h1>
        <p>OuiCrea Tour</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">

                <div class="foodpageimg">
                    <p class="title-space">OuiCrea Tour</p>
                    <p class="title-space">Expédition d’affaire en Chine</p>
                </div>

                <div>
                    <p class="sub-cha-body">Vous êtes une startup/PME</p>
                    <p class="sub-cha-body">Vous êtes curieux sur le marché chinois et souhaitez saisir d’opportunite.</p>
                    <p class="sub-cha-body">Vous êtes à la recherche d’un investissement chinois </p>
                    <p class="sub-cha-body">——une expedition d’affaire en Chine (OuiCrea Tour) qui vous convient</p>
                    <p class="sub-cha-body">Nous organisons periodiquement des expeditions d'affaires personnalisés en Chine pour les startups étrangers afin de ：</p>
                </div>
                
                <ul style="margin: 10px;font-size: 18px;">
                    <li>Connaitre le context d’innovation en Chine</li>
                    <li>Visiter les science park, les incubateurs de technologie</li>
                    <li>Dialoguer avec les startups estrangers réussites en Chine</li>
                    <li>Dialoguer avec les startups estrangers réussites en Chine</li>
                    <li>Participer au grand évènement (Venture week Suzhou, Hangzhou, Dongguan)</li>
                    <li>Pitch devant des investisseurs chinois</li>

                </ul>


                    <div class="tour-image clearfix">
                        <div class="col-md-4">
                            <img ng-src="assets/images/pic/27.jpg">
                        </div>
                        <div class="col-md-4">
                            <img ng-src="assets/images/pic/28.jpg">
                        </div>
                        <div class="col-md-4">
                            <img ng-src="assets/images/pic/29.jpg">
                        </div>
                    </div>


                    <div class="tour-image clearfix">
                        <div class="col-md-4">
                            <img ng-src="assets/images/pic/30.jpg">
                        </div>
                        <div class="col-md-4">
                            <img ng-src="assets/images/pic/31.jpg">
                        </div>
                        <div class="col-md-4">
                            <img ng-src="assets/images/pic/32.jpg">
                        </div>
                    </div>
                <div>
                    <ul style="margin: 10px;font-size: 18px;">
                        <li>Shanghai : SJTU Hi-tech Innovation Center, Zhangjiang Industrial Park, Tongji university</li>
                        <li>Hangzhou : Alibaba Headquarter, G20 conference center, Xiasha, Xiaoshan</li>
                        <li>Suzhou : Industrial Park, IoT City, Ecovacs, HSR New town, Kunshan, Taicang</li>
                        <li>Shenzhen : Institute of Robotics (DJI), Tencent</li>
                        <li>Dongguan : HUAWEI R&D Center, Manufactory Companies. Songshan lake Industrial Park</li>
                    </ul>
                </div>

                <div class="tour-image-1">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/33.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/34.png">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="">
                    </div>
                </div>

                <div class="tour-image-1">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/35.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/36.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>