<div class="hidden-xs">
    <div class="title-home">
        <h1>Ouicrea</h1>
        <p>OuiCrea Tour</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">

                <div class="foodpageimg">
                    <p class="title-space">OuiCrea Tour</p>
                    <p class="title-space">Expédition d’affaire en Chine</p>
                </div>

                <div>
                    <p class="sub-cha-body">Vous êtes une startup/PME</p>
                    <p class="sub-cha-body">Vous êtes curieux sur le marché chinois et souhaitez saisir d’opportunite.</p>
                    <p class="sub-cha-body">Vous êtes à la recherche d’un investissement chinois </p>
                    <p class="sub-cha-body">——une expedition d’affaire en Chine (OuiCrea Tour) qui vous convient</p>
                    <p class="sub-cha-body">Nous organisons periodiquement des expeditions d'affaires personnalisés en Chine pour les startups étrangers afin de ：</p>
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Connaitre le context d’innovation en Chine
                    </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/27.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Visiter les science park, les incubateurs de technologie                     </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/28.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Dialoguer avec les startups estrangers réussites en Chine                     </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/29.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Connaître la politique chinoise pour des entrepreneurs étrangers                     </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/30.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Participer au grand évènement (Venture week Suzhou, Hangzhou, Dongguan)                    </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/31.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Pitch devant des investisseurs chinois                    </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/32.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Shanghai : SJTU Hi-tech Innovation Center, Zhangjiang Industrial Park, Tongji university
                    </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/33.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Hangzhou : Alibaba Headquarter, G20 conference center, Xiasha, Xiaoshan,                     </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/34.png">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Suzhou : Industrial Park, IoT City, Ecovacs, HSR New town, Kunshan, Taicang                    </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/35.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Shenzhen : Institute of Robotics (DJI), Tencent,                     </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/36.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        Dongguan : HUAWEI R&D Center, Manufactory Companies. Songshan lake Industrial Park                   </div>
                    <img class="d-flex ml-3 media-img" ng-src="assets/images/pic/37.jpg">
                </div>



            </div>
        </div>
    </div>
</div>