<div id="mycarousel" class="carousel slide" data-ride="carousel" ng-init="main.fullscreenfunc()">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
        <li data-target="#mycarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner grey-banner" role="listbox">
        <div class="item">
            <img src="assets/images/ouicrea1.jpg" data-color="lightblue" alt="First Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/ouicrea2.jpg" data-color="firebrick" alt="Second Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/ouicrea3.jpg" data-color="violet" alt="Third Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/ouicrea4.jpg" data-color="lightgreen" alt="Fourth Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="item">
            <img src="assets/images/ouicrea5.jpg" data-color="tomato" alt="Fifth Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                        <h1 class="text-center">We are <span>OuiCrea</span></h1>
                        <p class="lead text-center">Together, realize our dreams, in a new innovation ecosystem with entrepreneurs French-China.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="homeApply object-non-visible" data-animation-effect="fadeIn">
                        <button class="homeApplyButton">
                            <a href="https://ouicrea.typeform.com/to/oVIm2Q" target="_blank">Apply</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- banner end -->

<!-- section start -->
<!-- ================ -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center">About <span>OuiCrea</span></h1>
                <p class="lead text-center"></p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="hovereffect-1">
                            <img class="img-responsive" src="assets/images/ouicrea1.jpg" alt="">
                            <div class="overlay-1">
                                <h2>Chine-Hexagone Accelerator</h2>
                                <!--<a class="info" href="#">link here</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>OuiCrea ambition is to establish a cross-boundary ecosystem of innovation and entrepreneurship between China and France.</p>
                        <p>At the meantime, OuiCrea specializes in researching and monitoring ‘unicorn’ projects that can bring and accelerate technological breakthroughs and has attracted a lot of investors. ---- ‘unicorn project’</p>
                        <p>OuiCrea will focus on the following departments: TMT, culture and creativity connections, objects and intelligence, etc. Through these high-quality resources and our entrepreneurs in France and China, we help realize the dream of entrepreneurs with respect to the following areas :</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>Make acquaintance with Franco-Chinese entrepreneurs</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>Visit freely and liberally our sites Paris / Suzhou / Shanghai</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>Learn of policies concerning the innovation in China et in France</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>Organize matchmaking for clients, suppliers, partners and investors</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>Receive advices and assistances offered by our experts and professionals</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>Attract potentials investors</li>
                        </ul>
                    </div>
                </div>
                <div class="space"></div>
                <!-- <h2>可编辑</h2> -->
                <div class="row margin-bottom">
                    <div class="col-md-4">

                        <div class="hovereffect-2">
                            <img class="img-responsive" src="../../../assets/images/ouicrea1.jpg" alt="">
                            <div class="overlay-2">
                                <h2>OuiCrea CN-FR</h2>
                                <a class="info" ui-sref="app.cnspace1">Located in the world's largest entrepreneurial space Station F</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hovereffect-2">
                            <img class="img-responsive" src="../../../assets/images/pic/40.jpg" alt="">
                            <div class="overlay-2">
                                <h2>OuiCrea•SHANGHAI</h2>
                                <a class="info" ui-sref="app.cnspace2">Adjacent to Shanghai Xujiahui shopping district, relying on Shanghai Jiaotong University Science Park</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hovereffect-2">
                            <img class="img-responsive" src="../../../assets/images/ouicrea6.png" alt="">
                            <div class="overlay-2">
                                <h2>OuiCrea•SUZHOU</h2>
                                <a class="info" ui-sref="app.cnspace3">Located in Suzhou High Speed Rail Metro, convenient transportation, unlimited potential returnees venture</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">

                    <div class="col-md-6">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            CHA @ Station F
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="toggle-box">
                                            <img src="../../../assets/images/ouicrea1.jpg">
                                            <p>se situe dans le plus grand startup campus du monde</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            OuiCrea@ShangHai
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="toggle-box">
                                            <img src="../../../assets/images/ouicrea5.jpg">
                                            <p>Labellisé en « Shanghai Coworking Space ».  Partenaire de « Shanghai oversea startup gateway».</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            OuiCrea@Suzhou
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="toggle-box">
                                            <img src="../../../assets/images/ouicrea6.png">
                                            <p>Une chaîne de services complets pour les startups étrangers, grâce au concours « Win in Suzhou ».</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h2 class="h2margin-top">Chine-Hexagone Accelerator:Programme d’incubation crossborder</h2>
                        <p>Conçu par OuiCrea en 2017 issue de ses propres expertises pour les entrepreneurs et les startups transfrontalières, qui consiste le cœur de métiers de l'écosystème OuiCrea. </p>
                        <img src="../../../assets/images/ouicrea7.jpg" class="ouicreaimage7">
                        <h2>6mois+6mois Incubation crossborder</h2>
                        <p>Le programme Chine-Accelerator Hexagone s’appelle effectivement le programme 6 + 6, dont constituant de 6 mois d’incubation et de 6 mois d’acceleration dans les deux pays respectivement. A travers du programme, nous accompagnons la transformation de 0 a 1 de la stratégie internationale d’une startup. Le projet s’appuie sur l’espace CHA@Station F, aidant les entreprises innovantes françaises à comprendre le marché chinois et à essayer d‘y entrer, également aidant les entreprises innovantes chinoises à développer leurs activités en Europe. </p>
                        <h2>Espace d'incubation</h2>
                        <p>Le projet s’appuie sur l’espace CHA@Station F, aidant les entreprises innovantes françaises à comprendre le marché chinois et à essayer d‘y entrer, également aidant les entreprises innovantes chinoises à développer leurs activités en Europe. </p>
                        &lt;!&ndash; <img src="../../../assets/images/ouicrea2.jpg"> &ndash;&gt;
                        &lt;!&ndash; <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?</p>
                        <p>Vitae dolores quam magnam accusantium nam, voluptatibus expedita delectus, dolorum odio magni ut nemo nihil ex earum pariatur molestias velit eveniet, facere autem saepe aut. Ut minima itaque porro facere. Cumque vitae autem, dignissimos molestiae necessitatibus culpa aliquam deleniti soluta sunt voluptatibus tenetur, unde dolorem eligendi doloribus quibusdam facere totam. Possimus atque deserunt numquam aliquam magnam, facilis officiis illo alias ipsa voluptas laborum, praesentium eveniet nobis velit voluptatem odio eligendi, corporis et iste distinctio! Repellendus, id, ad.</p> &ndash;&gt;
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section translucent-bg bg-image-1 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="services"  class="text-center title">Nos Chiffres</h1>
        <div class="space"></div>
        <div class="row" style="margin-left: 95px;">
            <div class="col-sm-3">
                <div class="media">
                    <div>
                        <div>
                            <div class="homeKeyPoint">
                                <span>300+</span>
                            </div>
                        </div>
                        <div class="homeKeyPointText">
                            <p>Projets</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="media">
                    <div>
                        <div>
                            <div class="homeKeyPoint">
                                <span>100+</span>
                            </div>
                        </div>
                        <div class="homeKeyPointText" style="margin-left: 20px;">
                            <p>Events</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="media">
                    <div>
                        <div>
                            <div class="homeKeyPoint">
                                <span style="left: 28%;">80+</span>
                            </div>
                        </div>
                        <div class="homeKeyPointText" style="margin-left: 10px;">
                            <p>Incubees</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="media">
                    <div>
                        <div>
                            <div class="homeKeyPoint">
                                <span style="left: 15%;">1000+</span>
                            </div>
                        </div>
                        <div class="homeKeyPointText" style="margin-left: 5px;">
                            <p>Spaces( m2 )</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="default-bg space blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Let's Work Together!</h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section">
    <div class="container">
        <h1 class="text-center title" id="portfolio">新闻动态</h1>
        <div class="separator"></div>
        <p class="lead text-center">欧创慧最新动态，请持续关注</p>
        <br>
        <div class="row object-non-visible" data-animation-effect="fadeIn">
            <div class="col-md-12">
                <div class="filters text-center" ng-controller="tagCtrl as tag">
                    <ul class="nav nav-pills">
                        <li ng-repeat="item in tag.tags"><a href="#" data-filter="*">{{item.t_name}}</a></li>
                    </ul>
                </div>
                <div class="isotope-container row grid-space-20" ng-controller="newsCtrl as news">
                    <div class="col-sm-6 col-md-3 isotope-item web-design" ng-repeat="item in news.news">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img ng-src="uploads/newspage/{{item.n_page}}" class="nouvelleimg">
                                <a class="overlay" ng-click="news.toArticle(item)">
                                    <i class="fa fa-search-plus"></i>
                                    <span>{{item.n_bref}}</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block">{{item.n_title}}</a>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<!--<div class="section translucent-bg bg-image-2 pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="clients" class="title text-center">Clients</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-1.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">€320</h3>
                        <blockquote>
                            <p>CHA@Station F</p>
                            <footer>Bureau et chaise, espace détente, salle de réunion, workshop interne, workshop Station F, WiFi, Assurance, courrier, cashier de stockage Evénement, Service Administration, Service d’Avocat, Service comptable, Domiciliation, Interprétation, RH, développeurs, Stratégie internationale Joindre
                                <cite title="Source Title"><a>joindre</a></cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-2.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">￥1000</h3>
                        <blockquote>
                            <p>Shanghai</p>
                            <footer>Bureau et chaise, espace détente, salle reunion, WiFi, Assurance, courrier, casier de stockage Evénement, Service Administration, Service d’Avocat, Service comptable, Domiciliation, Interprétation, RH, développeurs, Stratégie internationale <cite title="Source Title"><a>joindre</a></cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-3.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">￥500</h3>
                        <blockquote>
                            <p>Suzhou</p>
                            <footer>Bureau et chaise, espace détente, salle de reunion, WiFi, Assurance, courrier Evénement, Formation, accommodation, Service Administration, Service d’Avocat, Service comptable, Domiciliation, Interprétation, RH, développeurs <cite title="Source Title"><a>joindre</a></cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash; <div class="row">
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-2.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Thank You!</h3>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-3.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Amazing!</h3>
                        <blockquote>
                            <p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-1.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Best!</h3>
                        <blockquote>
                            <p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div> &ndash;&gt;
    </div>
    &lt;!&ndash; section start &ndash;&gt;
    &lt;!&ndash; ================ &ndash;&gt;
    <div class="translucent-bg blue">
        <div class="container">
            <div class="list-horizontal">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-1.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-2.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-3.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-4.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-5.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-6.png" alt="client">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; section end &ndash;&gt;
</div>-->
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="default-bg-1 space">
    <div class="container">
        <div class="row">
            <div>
                <h1 class="text-center">Partner</h1>
            </div>
            <div>
                <div class="logo-line">
                    <a href="https://stationf.co/fr/" target="_blank"><img src="assets/images/logo/01.png" class="parter-logo"></a>
                    <a href="https://www.businessfrance.fr" target="_blank"><img src="assets/images/logo/02.png" class="parter-logo"></a>
                    <a href="https://www.bpifrance.fr" target="_blank"><img src="assets/images/logo/03.png" class="parter-logo"></a>
                    <a href="https://www.alibabacloud.com/zh" target="_blank"><img src="assets/images/logo/04.png" class="parter-logo"></a>
                    <a href="https://www.lafrenchtech.com/en/" target="_blank"><img src="assets/images/logo/05.png" class="parter-logo"></a>
                </div>
                <div class="logo-line">

                    <a href="https://www.plass.com/cn" target="_blank"><img src="assets/images/logo/06.png" class="parter-logo"></a>
                    <a href="https://www.creative-valley.fr" target="_blank"><img src="assets/images/logo/07.png" class="parter-logo"></a>
                    <a href="https://3dexperiencelab.3ds.com/" target="_blank"><img src="assets/images/logo/08.png" class="parter-logo special-logo-2"></a>
                    <a href="https://www.neutrino-space.com" target="_blank"><img src="assets/images/logo/09.png" class="parter-logo"></a>
                    <a href="https://www.parisandco.paris" target="_blank"><img src="assets/images/logo/10.png" class="parter-logo"></a>
                </div>
                <div class="logo-line">

                    <a href="http://www.chinajinmao.cn" target="_blank"><img src="assets/images/logo/11.png" class="parter-logo"></a>
                    <a href="http://www.withub.org/home.php" target="_blank"><img src="assets/images/logo/12.png" class="parter-logo"></a>
                    <a href="http://bbs.xineurope.com" target="_blank"><img src="assets/images/logo/13.png" class="parter-logo"></a>
                    <a href="http://www.kk-star.cn" target="_blank"><img src="assets/images/logo/14.png" class="parter-logo"></a>
                    <a href="https://www.eurosity.fr" target="_blank"><img src="assets/images/logo/15.png" class="parter-logo"></a>
                </div>
                <div class="logo-line">

                    <a href="https://www.tongji.edu.cn" target="_blank"><img src="assets/images/logo/16.png" class="parter-logo"></a>
                    <a href="https://www.skema-bs.fr" target="_blank"><img src="assets/images/logo/17.png" class="parter-logo"></a>
                    <a href="http://www.univfr.com" target="_blank"><img src="assets/images/logo/18.png" class="parter-logo"></a>
                    <a href="http://utseus.com/cn/" target="_blank"><img src="assets/images/logo/19.png" class="parter-logo"></a>
                    <a href="https://www.sjtu.edu.cn" target="_blank"><img src="assets/images/logo/20.png" class="parter-logo"></a>
                </div>
                <div class="logo-line">
                    <a href="http://www.comitefrancechine.com" target="_blank"><img src="assets/images/logo/21.png" class="parter-logo"></a>
                    <a href="https://www.usine.io" target="_blank"><img src="assets/images/logo/22.png" class="parter-logo"></a>
                    <a href="http://wap.oushinet.com" target="_blank"><img src="assets/images/logo/23.png" class="parter-logo"></a>
                    <a href="http://www.stories.vc/" target="_blank"><img src="assets/images/logo/24.png" class="parter-logo"></a>
                    <a href="http://www.xilian-group.com/index.html" target="_blank"><img src="assets/images/logo/25.png" class="parter-logo"></a>
                </div>
            </div>
        </div>
    </div>
</div>
