<div class="hidden-xs">
    <div class="title-home">
        <h1>OuiCrea</h1>
        <p>Crossborder Incubation program</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">

                <div class="row" style="margin-left: 15px;margin-top: 10px;">
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/01.jpg" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">CHA</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/02.jpg" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">FRENCH GATEWAY</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/03.png" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">WIN IN SUZHOU</a></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="foodpageimg">
                    <p class="title-space">Cross-border incubation</p>
                    <div>
                        <img class="title-logo-cha" src="../../../assets/images/chalogo.png">
                    </div>
                </div>

                <div>
                    <p class="sub-cha-body">China-Hexagon Accelerator (CHA) is an acceleration program designed by OuiCrea in 2017 based on its own expertise for entrepreneurs and cross-border startups, which is the core business of the OuiCrea ecosystem.</p>
                    <p class="sub-cha-body">The project is based on the OuiCrea CHA @ Station F space, helping innovative French companies to understand the Chinese market and try to enter it, also helping Chinese innovative companies to develop activities in Europe.</p>
                    <p class="sub-cha-body">Indeed, the China-Accelerator Hexagon program is called the 6 + 6 program, which consists of 6 months of incubation and 6 months of acceleration in the two countries respectively.</p>
                </div>

                <div class="card sub-cha-card sub-first-card color-card-cha-1">
                    <div class="card-header">
                        1st month
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Installation at YesCrea CHA (Station F)<br>
                                Business plan and presentation training
                                (Arrival and installation at OuiCrea CHA (Station F) Training on Business plan and presentation)
                                <br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-2">
                    <div class="card-header">
                        2nd month
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Evaluation and improvement of the business plan<br>
                                Oral pitch (connection with a contest)<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-3">
                    <div class="card-header">
                        3rd month
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Workshops: know the Chinese market<br>
                                Chinese market study with Chinese students in France<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-4">
                    <div class="card-header">
                        4th month
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Expedition to China, business trip</p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-5">
                    <div class="card-header">
                        5th month
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Offshoring preparation in China<br>
                                Business Skills Training in China (2 hours)<br>
                                Training on Chinese culture and basic language (2 hours)<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-6">
                    <div class="card-header">
                        6th month
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Administration process for installation in China<br>
                                Registration of the company in China<br>
                                Website building, Cloud service<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-7">
                    <div class="card-header">
                        7th - 12th month:
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>Incubation at YesCrea in China (Suzhou / Shanghai) or in a partner incubator</p>
                        </blockquote>
                    </div>
                </div>

                <div class="sub-cha-adr">
                    <p>For European companies to China, please refer to the website French version
                    </p>
                </div>

                <div class="sub-cha-adr">
                    <p>We welcome Chinese institutions, enterprises and parks to set up overseas offices or overseas workstations in Paris. Also welcome domestic incubator co-operation set up offshore offshore incubator.
                    </p>
                </div>

                <img class="sub-cha-body-img" ng-src="assets/images/pic/20.png">

            </div>
        </div>
    </div>
</div>