<div class="hidden-xs">
    <div class="title-home">
        <h1>OuiCrea</h1>
        <p>Chine-Hexagone Accelerator:Programme d’incubation crossborder</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">

                <div class="foodpageimg">
                    <p class="title-space">创投俱乐部</p>
                </div>

                <div>
                    <p class="sub-cha-body">目前，欧创慧在法国以及中国拥有500+创业项目，同时以每年150+项目在增长。</p>
                    <p class="sub-cha-body">作为全球最大创业空间（Startup Campus）Station F的唯一中法创始合作伙伴，欧创慧将优先接触到Station F生态圈每年1000+创业项目。</p>
                    <p class="sub-cha-body">基于此优势，欧创慧创投俱乐部（OuiCrea Club）致力于帮助中国的投资机构和个人在法国对接合适的标的项目或者企业。</p>
                    <p class="sub-cha-body">成为欧创慧创投俱乐部会员，除了定期收到推荐项目信息之外，您还可以享受各种贵宾服务</p>
                </div>


                <ul style="margin: 25px;font-size: 18px;">
                    <li>视频或者现场观摩项目路演，对接中法优秀初创企业</li>
                    <li>为您解答各类海外投资项目的问题</li>
                    <li>免费参加欧创慧在中法两国组织的各类活动（OuiCrea Event）</li>
                    <li>优先参加订制型商务考察“创新之旅” （OuiCrea Tour）</li>
                </ul>

                <div class="tour-image-1">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/26.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/33.jpeg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="">
                    </div>
                </div>

                <div class="tour-image-1">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/38.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/39.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="">
                    </div>
                </div>

                <div class="sub-cha-adr">
                    <p>想加入欧创慧创投俱乐部，请留下您的联系方式
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>