<div class="hidden-xs">
    <div class="title-home">
        <h1>OuiCrea</h1>
        <p>Innovative journey</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">

                <div class="foodpageimg">
                    <p class="title-space">Innovative journey</p>
                </div>

                <div>
                    <p class="sub-cha-body">You are a startup / SME</p>
                    <p class="sub-cha-body">You are curious about the Chinese market and want to seize opportunity.</p>
                    <p class="sub-cha-body">You are looking for a Chinese investment</p>
                    <p class="sub-cha-body">A business expedition in China (OuiCreat Tour) that suits you</p>
                    <p class="sub-cha-body">We periodically organize custom business expeditions to China for foreign startups in order to:</p>
                </div>

                <ul style="margin: 10px;font-size: 18px;">
                    <li>Know the context of innovation in China</li>
                    <li>Visit science park, technology incubators</li>
                    <li>Talking with Successful Foreign Startups in China</li>
                    <li>Participate in the big event (Suzhou Venture Week, Hangzhou, Dongguan)</li>
                    <li>(Exchange with Successful Foreign Startups in China Participate in big events)</li>
                    <li>Pitch in front of Chinese investors</li>
                </ul>

                <div class="tour-image clearfix">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/27.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/28.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/29.jpg">
                    </div>
                </div>


                <div class="tour-image clearfix">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/30.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/31.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/32.jpg">
                    </div>
                </div>

                <div>
                    <ul style="margin: 10px;font-size: 18px;">
                        <li>Taste French wine and learn about wine culture</li>
                        <li>Enjoy French fare and master table manners</li>
                        <li>Appreciation of anecdotes of French art and artists</li>
                        <li>Enjoy classic sights and experience lifestyle</li>
                    </ul>
                </div>

                <div class="tour-image-1 clearfix">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/33.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/34.png">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="">
                    </div>
                </div>

                <div class="tour-image-1 clearfix">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/35.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/36.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="">
                    </div>
                </div>

                <div class="pdf-a">
                    <a href="../../../assets/pdf/b.pdf" target="_blank">2016 Tongji University excellence engineer France line</a>
                </div>
            </div>
        </div>
    </div>
</div>