<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">文章板块</h1>
    </div>
    <div>
        <a ui-sref="admin.addnews">添加文章</a>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                DataTables Advanced Tables
            </div>
            
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>文章图片</th>
                            <th>文章标题</th>
                            <th>文章标签</th>
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="item in news.news">{{item.n_title}}>
                        <tr class="gradeX">
                            <td><img ng-src="uploads/newspage/{{item.n_page}}" class="newspage"></td>
                            <td>{{item.n_title}}</td>
                            <td>{{item.n_belongTag.t_name}}</td>
                            <td class="center">{{item.created | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                            <td class="center"><a ng-click="news.deleteNews(item)">删除</a></td>
                        </tr>
                    </tbody>
                </table>
                
                <!-- /.table-responsive -->
                <div class="well">
                    <h4>DataTables Usage Information</h4>
                    <p>DataTables is a very flexible, advanced tables plugin for jQuery. In SB Admin, we are using a specialized version of DataTables built for Bootstrap 3. We have also customized the table headings to use Font Awesome icons in place of images. For complete documentation on DataTables, visit their website at <a target="_blank" href="https://datatables.net/">https://datatables.net/</a>.</p>
                    <a class="btn btn-default btn-lg btn-block" target="_blank" href="https://datatables.net/">View DataTables Documentation</a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>