<div id="mycarousel" class="carousel slide" data-ride="carousel" ng-init="main.fullscreenfunc()">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#mycarousel" data-slide-to="0" class="active"></li>
        <li data-target="#mycarousel" data-slide-to="1"></li>
        <li data-target="#mycarousel" data-slide-to="2"></li>
        <li data-target="#mycarousel" data-slide-to="3"></li>
        <li data-target="#mycarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner grey-banner" role="listbox">
        <div class="item">
            <img src="assets/images/banner.jpg" data-color="lightblue" alt="First Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/2000/1250?image=689" data-color="firebrick" alt="Second Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/2000/1250?image=675" data-color="violet" alt="Third Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/2000/1250?image=658" data-color="lightgreen" alt="Fourth Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="item">
            <img src="https://unsplash.it/2000/1250?image=638" data-color="tomato" alt="Fifth Image">
            <div class="carousel-caption">
                <h3></h3>
            </div>
        </div>
        <div class="banner-caption">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
                        <h1 class="text-center">我们是 <span>欧创慧</span></h1>
                        <p class="lead text-center">中欧之桥，协力跨越</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- banner end -->

<!-- section start -->
<!-- ================ -->
<div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 id="about" class="title text-center">关于 <span>欧创慧</span></h1>
                <p class="lead text-center"></p>
                <div class="space"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="hovereffect-1">
                            <img class="img-responsive" src="assets/images/ouicrea1.jpg" alt="">
                            <div class="overlay-1">
                                <h2>中法众创空间网络</h2>
                                <!--<a class="info" href="#">link here</a>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p>欧创慧，由一群通晓中法创新创业领域的创业者成立。秉承着“只有创业者才能服务好创业者”的理念，旨在于建立一个真正的中法之间跨境创业生态圈。</p>
                        <p>我们致力于提供专业化、品牌化、国际化的服务，陪伴着创业者和小微企业，帮助他们高速发展并拓展国际业务的渠道。</p>
                        <p>我们将打造一个集成发现、筛选、推动、孵化、投资项目的创业服务体系。</p>
                        <p>同时，欧创慧致力于寻找那些真正能够带来颠覆或者重要意义的创新项目。欧创慧将会专注于孵化和投资TMT、文化创意、智能硬件等行业，通过优质的国内外资源和合作伙伴，帮助创业者实现梦想、走向世界。</p>
                        <p>目前，欧创慧在法国以及中国拥有500+创业项目，同时以每年150+项目在增长。同时在中法两国有着重量级的合作方，为欧创慧作为中法间的标杆创新服务机构奠定了基础。</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>结识更多的中法创业小伙伴</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>肆意地在巴黎、上海、苏州三地的众创空间穿梭</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>了解扑面而来的中法两国创业扶持政策</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>近距离和客户、供应商、合作伙伴、投资人约会</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>优先获得创业大咖指导和专业服务</li>
                            <li><i class="fa fa-caret-right pr-10 text-colored"></i>获得中法投资人的抛来的橄榄枝</li>
                        </ul>
                    </div>
                </div>
                <div class="space"></div>
                <!-- <h2>可编辑</h2> -->
                <div class="row margin-bottom">
                    <div class="col-md-4">

                        <div class="hovereffect-2">
                            <img class="img-responsive" src="../../../assets/images/ouicrea1.jpg" alt="">
                            <div class="overlay-2">
                                <h2>欧创慧•中法</h2>
                                <a class="info" ui-sref="app.cnspace1">坐落于世界上最大的创业空间Station F内</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hovereffect-2">
                            <img class="img-responsive" src="../../../assets/images/pic/40.jpg" alt="">
                            <div class="overlay-2">
                                <h2>欧创慧•上海</h2>
                                <a class="info" ui-sref="app.cnspace2">毗邻上海徐家汇商圈，依托上海交大科技园，强强联合科技和创意的结合、中西文化的交汇点</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="hovereffect-2">
                            <img class="img-responsive" src="../../../assets/images/ouicrea6.png" alt="">
                            <div class="overlay-2">
                                <h2>欧创慧•苏州</h2>
                                <a class="info" ui-sref="app.cnspace3">位于苏州高铁新城，交通便利，潜力无限，海归创业</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="row">

                    <div class="col-md-6">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            CHA @ Station F
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="toggle-box">
                                            <img src="../../../assets/images/ouicrea1.jpg">
                                            <p>se situe dans le plus grand startup campus du monde</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            OuiCrea@ShangHai
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="toggle-box">
                                            <img src="../../../assets/images/ouicrea5.jpg">
                                            <p>Labellisé en « Shanghai Coworking Space ».  Partenaire de « Shanghai oversea startup gateway».</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            OuiCrea@Suzhou
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                        <div class="toggle-box">
                                            <img src="../../../assets/images/ouicrea6.png">
                                            <p>Une chaîne de services complets pour les startups étrangers, grâce au concours « Win in Suzhou ».</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">
                        <h2 class="h2margin-top">Chine-Hexagone Accelerator:Programme d’incubation crossborder</h2>
                        <p>Conçu par OuiCrea en 2017 issue de ses propres expertises pour les entrepreneurs et les startups transfrontalières, qui consiste le cœur de métiers de l'écosystème OuiCrea. </p>
                        <img src="../../../assets/images/ouicrea7.jpg" class="ouicreaimage7">
                        <h2>6mois+6mois Incubation crossborder</h2>
                        <p>Le programme Chine-Accelerator Hexagone s’appelle effectivement le programme 6 + 6, dont constituant de 6 mois d’incubation et de 6 mois d’acceleration dans les deux pays respectivement. A travers du programme, nous accompagnons la transformation de 0 a 1 de la stratégie internationale d’une startup. Le projet s’appuie sur l’espace CHA@Station F, aidant les entreprises innovantes françaises à comprendre le marché chinois et à essayer d‘y entrer, également aidant les entreprises innovantes chinoises à développer leurs activités en Europe. </p>
                        <h2>Espace d'incubation</h2>
                        <p>Le projet s’appuie sur l’espace CHA@Station F, aidant les entreprises innovantes françaises à comprendre le marché chinois et à essayer d‘y entrer, également aidant les entreprises innovantes chinoises à développer leurs activités en Europe. </p>
                        &lt;!&ndash; <img src="../../../assets/images/ouicrea2.jpg"> &ndash;&gt;
                        &lt;!&ndash; <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi adipisci illo, voluptatum ipsam fuga error commodi architecto, laudantium culpa tenetur at id, beatae placeat deserunt iure quas voluptas fugit eveniet.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo ducimus explicabo quibusdam temporibus deserunt doloremque pariatur ea, animi a. Delectus similique atque eligendi, enim vel reiciendis deleniti neque aliquid, sit?</p>
                        <p>Vitae dolores quam magnam accusantium nam, voluptatibus expedita delectus, dolorum odio magni ut nemo nihil ex earum pariatur molestias velit eveniet, facere autem saepe aut. Ut minima itaque porro facere. Cumque vitae autem, dignissimos molestiae necessitatibus culpa aliquam deleniti soluta sunt voluptatibus tenetur, unde dolorem eligendi doloribus quibusdam facere totam. Possimus atque deserunt numquam aliquam magnam, facilis officiis illo alias ipsa voluptas laborum, praesentium eveniet nobis velit voluptatem odio eligendi, corporis et iste distinctio! Repellendus, id, ad.</p> &ndash;&gt;
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="section translucent-bg bg-image-1 blue">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="services"  class="text-center title">关键数据</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">100+</h4>
                        <p>欧创慧每年组织超过100场线上和线下的活动，帮助中法创业者对接两国的各种资源。</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-cog"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">150+</h4>
                        <p>通过线上线下的活动，诸如创业大赛、讲座、论坛等，每年有超过150个新的创业项目进入到我们的生态圈。</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-check"></i>
                    </div>
                </div>
                <!-- <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Service 3</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-desktop"></i>
                    </div>
                </div>
                <div class="media">
                    <div class="media-body text-right">
                        <h4 class="media-heading">Service 4</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                    <div class="media-right">
                        <i class="fa fa-users"></i>
                    </div>
                </div> -->
            </div>
            <div class="space visible-xs"></div>
            <div class="col-sm-6">
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-area-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">50+</h4>
                        <p>自2010年到2017年，已经有超过50个生态圈内的项目在中国或者法国成立了企业，总注册资本超过4亿人民币（5000万欧元）</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-leaf"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">700+</h4>
                        <p>截止2017年6月，在欧创慧中法创业生态圈内已经汇聚了700多个创业项目。创业者包括在法国留学人员、华人华侨、对中国感兴趣的法国人、对法国感兴趣的中国人。</p>
                    </div>
                </div>

                <!-- <div class="media">
                    <div class="media-left">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Service 7</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div>
                <div class="media">
                    <div class="media-left">
                        <i class="fa fa-codepen"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Service 8</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="default-bg space blue">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="text-center">Let's Work Together!</h1>
            </div>
        </div>
    </div>
</div>
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<!--<div class="section">
    <div class="container">
        <h1 class="text-center title" id="portfolio">新闻动态</h1>
        <div class="separator"></div>
        <p class="lead text-center">欧创慧最新动态，请持续关注</p>
        <br>
        <div class="row object-non-visible" data-animation-effect="fadeIn">
            <div class="col-md-12">

                &lt;!&ndash; isotope filters start &ndash;&gt;
                <div class="filters text-center" ng-controller="tagCtrl as tag">
                    <ul class="nav nav-pills">
                        <li ng-repeat="item in tag.tags"><a href="#" data-filter="*">{{item.t_name}}</a></li>
                    </ul>
                </div>
                &lt;!&ndash; isotope filters end &ndash;&gt;

                &lt;!&ndash; portfolio items start &ndash;&gt;
                <div class="isotope-container row grid-space-20" ng-controller="newsCtrl as news">
                    <div class="col-sm-6 col-md-3 isotope-item web-design" ng-repeat="item in news.news">
                        <div class="image-box">
                            <div class="overlay-container">
                                <img ng-src="uploads/newspage/{{item.n_page}}" class="nouvelleimg">
                                <a class="overlay" ng-click="news.toArticle(item)">
                                    <i class="fa fa-search-plus"></i>
                                    <span>{{item.n_bref}}</span>
                                </a>
                            </div>
                            <a class="btn btn-default btn-block">{{item.n_title}}</a>
                        </div>

                    </div>

                </div>
                &lt;!&ndash; portfolio items end &ndash;&gt;

            </div>
        </div>
    </div>
</div>-->
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<!--<div class="section translucent-bg bg-image-2 pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
        <h1 id="clients" class="title text-center">Clients</h1>
        <div class="space"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-1.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">€320</h3>
                        <blockquote>
                            <p>CHA@Station F</p>
                            <footer>Bureau et chaise, espace détente, salle de réunion, workshop interne, workshop Station F, WiFi, Assurance, courrier, cashier de stockage Evénement, Service Administration, Service d’Avocat, Service comptable, Domiciliation, Interprétation, RH, développeurs, Stratégie internationale Joindre
                                <cite title="Source Title"><a>joindre</a></cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-2.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">￥1000</h3>
                        <blockquote>
                            <p>Shanghai</p>
                            <footer>Bureau et chaise, espace détente, salle reunion, WiFi, Assurance, courrier, casier de stockage Evénement, Service Administration, Service d’Avocat, Service comptable, Domiciliation, Interprétation, RH, développeurs, Stratégie internationale <cite title="Source Title"><a>joindre</a></cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-3.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">￥500</h3>
                        <blockquote>
                            <p>Suzhou</p>
                            <footer>Bureau et chaise, espace détente, salle de reunion, WiFi, Assurance, courrier Evénement, Formation, accommodation, Service Administration, Service d’Avocat, Service comptable, Domiciliation, Interprétation, RH, développeurs <cite title="Source Title"><a>joindre</a></cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash; <div class="row">
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-2.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Thank You!</h3>
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-3.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Amazing!</h3>
                        <blockquote>
                            <p>Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media testimonial">
                    <div class="media-left">
                        <img src="assets/images/testimonial-1.png" alt="">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Best!</h3>
                        <blockquote>
                            <p>Aperiam consequatur quo quis exercitationem reprehenderit suscipit iste placeat.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div> &ndash;&gt;
    </div>
    &lt;!&ndash; section start &ndash;&gt;
    &lt;!&ndash; ================ &ndash;&gt;
    <div class="translucent-bg blue">
        <div class="container">
            <div class="list-horizontal">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-1.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-2.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-3.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-4.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-5.png" alt="client">
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="list-horizontal-item">
                            <img src="assets/images/client-6.png" alt="client">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    &lt;!&ndash; section end &ndash;&gt;
</div>-->
<!-- section end -->

<!-- section start -->
<!-- ================ -->
<div class="default-bg-1 space">
    <div class="container">
        <div class="row">
            <div>
                <h1 class="text-center">合作伙伴</h1>
            </div>
            <div>
                <a href="http://www.sjtusp.com/home.php" target="_blank"><img src="assets/images/logo/1.png" class="parter-logo"></a>
                <a href="http://www.withub.org/home.php" target="_blank"><img src="assets/images/logo/2.png" class="parter-logo"></a>
                <a href="#" target="_blank"><img src="assets/images/logo/3.png" class="parter-logo"></a>
                <a href="https://stationf.co/fr/" target="_blank"><img src="assets/images/logo/4.png" class="parter-logo"></a>
                <a href="https://www.usine.io/focus" target="_blank"><img src="assets/images/logo/5.png" class="parter-logo special-logo-2"></a>
                <a href="http://www.utseus.com/fr" target="_blank"><img src="assets/images/logo/6.png" class="parter-logo"></a>
                <a href="http://www.skema-bs.fr" target="_blank"><img src="assets/images/logo/7.png" class="parter-logo"></a>
                <a href="http://alumni.sjtu.edu.cn/newalu/gdxyshow.php?id=256" target="_blank"><img src="assets/images/logo/8.png" class="parter-logo"></a>
                <a href="http://www.parisandco.paris" target="_blank"><img src="assets/images/logo/9.png" class="parter-logo"></a>
                <a href="http://www.xineurope.com" target="_blank"><img src="assets/images/logo/10.png" class="parter-logo"></a>
                <a href="http://www.comitefrancechine.com" target="_blank"><img src="assets/images/logo/11.png" class="parter-logo"></a>
                <a href="https://www.raizers.com" target="_blank"><img src="assets/images/logo/12.png" class="parter-logo"></a>
                <a href="http://www.univfr.com" target="_blank"><img src="assets/images/logo/13.png" class="parter-logo"></a>
                <a href="http://xilian-group.com/index.html" target="_blank"><img src="assets/images/logo/14.png" class="parter-logo"></a>
                <a href="http://www.oushinet.com" target="_blank"><img src="assets/images/logo/15.png" class="parter-logo"></a>
                <a href="http://www.eurosity.fr/fr/" target="_blank"><img src="assets/images/logo/16.png" class="parter-logo"></a>
                <a href="http://xilian-group.com/index.html" target="_blank"><img src="assets/images/logo/17.png" class="parter-logo special-logo-1"></a>
                <a href="http://www.o-tec.cn" target="_blank"><img src="assets/images/logo/18.png" class="parter-logo"></a>
                <a href="#" target="_blank"><img src="assets/images/logo/19.png" class="parter-logo"></a>
                <a href="http://angelsglobal.com" target="_blank"><img src="assets/images/logo/20.png" class="parter-logo"></a>

            </div>
        </div>
    </div>
</div>
