<div class="hidden-xs">
    <div class="title-home">
        <h1>欧创慧·跨境孵化</h1>
        <p>Programme d’incubation cross border</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">

                <div class="row" style="margin-left: 15px;margin-top: 10px;">
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/01.jpg" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">中法跨境加速器</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/02.jpg" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">跨越法国</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="chaBox">
                            <img src="../../../assets/images/pic/cha/03.png" alt="Avatar" class="c_image" style="width:100%">
                            <div class="c_middle">
                                <div class="text"><a href="https://ouicrea.typeform.com/to/oVIm2Q">赢在苏州</a></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="foodpageimg">
                    <p class="title-space">跨境孵化</p>
                    <div>
                        <img class="title-logo-cha" src="../../../assets/images/chalogo.png">
                    </div>
                </div>

                <div>
                    <p class="sub-cha-body">中法跨境加速项目 (Chine-Hexagone Accelerator) 是欧创慧于2017年根据自身资源为跨境创业者量身打造的创业加速项目，是欧创慧创业生态圈的核心竞争力。</p>
                    <p class="sub-cha-body">项目将依托欧创慧•中法@Station F为基地，帮助法国的创新企业了解、尝试并进入中国市场，同时帮助中国的创新企业拓展欧洲业务。</p>
                    <p class="sub-cha-body">中法跨境加速项目 (Chine-Hexagone Accelerator)也称为6+6项目，通过在两国分别6个月的孵化+6个月的加速期，完成企业海外拓展从0到1的转变。</p>
                </div>

                <div class="card sub-cha-card sub-first-card color-card-cha-1">
                    <div class="card-header">
                        第一个月
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>在中国开始进行前期准备，进入欧创慧•上海或者欧创慧•苏州进行孵化<br>
                                我们将帮助您完成英语/法语项目计划书。<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-2">
                    <div class="card-header">
                        第二个月
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>参加相关创业大赛：中法创新团队奖<br>
                                法国创新之门（French Tech Ticket）等<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-3">
                    <div class="card-header">
                        第三个月
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>项目研讨会<br>
                                和法国学生一起完成项目产品的法国市场调研<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-4">
                    <div class="card-header">
                        第四个月
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>法国商务考察</p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-5">
                    <div class="card-header">
                        第五个月
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>准备在法国落户<br>
                                商业技巧培训(2小时)和法国文化<br>
                                基础语言培训(2 小时／每周)<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-6">
                    <div class="card-header">
                        第六个月
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>实施落户法国的行政过程<br>
                                公司注册，网站建立<br>
                                云服务等<br>
                            </p>
                        </blockquote>
                    </div>
                </div>
                <div class="card sub-cha-card color-card-cha-7">
                    <div class="card-header">
                        第七个月至第十二个月
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>入驻欧创慧•中法@Station F继续孵化</p>
                        </blockquote>
                    </div>
                </div>

                <div class="sub-cha-adr">
                    <p>对于欧洲企业走向中国请参考网站法语版
                    </p>
                </div>

                <div class="sub-cha-adr">
                    <p>我们欢迎中国的机构、企业、园区在巴黎建立海外办公地点或者海外工作站。也欢迎国内孵化机构合作共同成立海外离岸孵化器。
                    </p>
                </div>

                <img class="sub-cha-body-img" ng-src="assets/images/pic/20.png">

            </div>
        </div>
    </div>
</div>