<div class="hidden-xs">
    <div class="title-home">
        <h1>Ouicrea</h1>
        <p>OuiCrea Shanghai@SJTU Science Park</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg" ng-init="cha.carousel()">
                <div class="foodpageimg">
                    <p class="title-space">欧创慧 上海</p>
                    <p class="p-grey title-sub-cha">关于欧创慧•上海@交大科技园</p>
                </div>

                <div id="example3" class="slider-pro">
                    <div class="sp-slides">
                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image1_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image1_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image1_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image1_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image1_large.jpg"/>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="50" data-vertical="50"
                               data-show-transition="left" data-show-delay="400">
                                Lorem ipsum
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-horizontal="180" data-vertical="50"
                               data-show-transition="left" data-show-delay="600">
                                dolor sit amet
                            </p>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="315" data-vertical="50"
                               data-show-transition="left" data-show-delay="800">
                                consectetur adipisicing elit.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image2_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image2_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image2_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image2_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image2_large.jpg"/>

                            <h3 class="sp-layer sp-black sp-padding"
                                data-horizontal="40" data-vertical="40"
                                data-show-transition="left">
                                Lorem ipsum dolor sit amet
                            </h3>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="40" data-vertical="100"
                               data-show-transition="left" data-show-delay="200">
                                consectetur adipisicing elit
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-horizontal="40" data-vertical="160" data-width="350"
                               data-show-transition="left" data-show-delay="400">
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image3_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image3_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image3_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image3_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image3_large.jpg"/>

                            <p class="sp-layer sp-white sp-padding"
                               data-position="centerCenter" data-vertical="-50"
                               data-show-transition="right" data-show-delay="500" >
                                Lorem ipsum dolor sit amet
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-position="centerCenter" data-vertical="50"
                               data-show-transition="left" data-show-delay="700">
                                consectetur adipisicing elit
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image4_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image4_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image4_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image4_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image4_large.jpg"/>

                            <p class="sp-layer sp-black sp-padding"
                               data-position="bottomLeft" data-vertical="0" data-width="100%"
                               data-show-transition="up">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image5_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image5_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image5_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image5_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image5_large.jpg"/>

                            <p class="sp-layer sp-white sp-padding"
                               data-vertical="5%" data-horizontal="5%" data-width="90%"
                               data-show-transition="down" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image6_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image6_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image6_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image6_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image6_large.jpg"/>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="10" data-vertical="10" data-width="300">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image7_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image7_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image7_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image7_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image7_large.jpg"/>

                            <p class="sp-layer sp-black sp-padding"
                               data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%"
                               data-show-transition="up" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image8_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image8_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image8_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image8_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image8_large.jpg"/>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image9_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image9_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image9_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image9_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image9_large.jpg"/>

                            <p class="sp-layer sp-black sp-padding"
                               data-horizontal="50" data-vertical="50"
                               data-show-transition="down" data-show-delay="500">
                                Lorem ipsum dolor sit amet
                            </p>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="50" data-vertical="100"
                               data-show-transition="up" data-show-delay="500">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image10_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image10_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image10_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image10_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image10_large.jpg"/>
                        </div>
                    </div>

                    <div class="sp-thumbnails">
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image1_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image2_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image3_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image4_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image5_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image6_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image7_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image8_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image9_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image10_thumbnail.jpg"/>
                    </div>
                </div>

                <div>

                    <p class="sub-cha-body">2016年初，欧创慧和上海交大科技园达成协议，共建支持海外项目引进和中国企业国际化发展的众创空间，提供项目孵化、媒体展示、股权融资、新技术转化、中国和国际市场推广等多维度服务。</p>
                    <p class="sub-cha-body">双方的合作基于各自优势的叠加。上海交大科技园是依托百年名校的国家大学科技园，长期致力于国际创新，人才、技术、资本的交流和国际创新孵化平台的打造，已与美国、德国、日本、以色列、新加坡等国家建立稳定的交流管道，欧创慧的创始人在法国的侨界、留学生群体中有着深厚的影响力，和中国地方政府，和法国当地的孵化器都有着在创新创业领域的合作。通过欧创慧•上海众创空间这一组织形式实现国际科技创新创业项目在上海交大科技园的集聚孵化。</p>
                    <p class="sub-cha-body">2016年末，欧创慧•上海完成了上海市众创空间备案，同年入选上海市创业首站合作机构，成为上海对接法国创业者的桥梁。</p>
                    <img class="sub-cha-body-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">

                    <div class="jumbotron jumbotron-fluid sub-cha-jum">
                        <div class="container">
                            <h1 class="display-3">欧创慧 上海</h1>
                            <p class="lead">开放式工位基本服务  1000元/月</p>
                            <p>公共区域工位租用：免费使用休息空间、使用小型会议室、WiFi网络、保险、邮件和包裹收取、清洁。</p>
                        </div>
                    </div>

                    <div class="jumbotron jumbotron-fluid sub-cha-jum">
                        <div class="container">

                            <p class="lead">增值服务</p>
                            <p>外部来宾参观、储存空间、打印复印、企业注册、法律咨询服务、财务代帐、翻译、人力资源、软件开发</p>
                        </div>
                    </div>

                    <div class="sub-cha-adr">
                        <p>空间地址</p>
                        <p>上海市徐汇区虹桥路333号2楼</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>