<div class="hidden-xs">
    <div class="title-home">
        <h1>Ouicrea</h1>
        <p>OuiCrea CHA@Station F</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg" ng-init="cha.carousel()">
                <div class="foodpageimg">
                    <p class="title-space">欧创慧 • 中法</p>
                    <p class="p-grey title-sub-cha">关于欧创慧 • 中法@Station F</p>
                </div>

                <div id="example3" class="slider-pro">
                    <div class="sp-slides">
                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image1_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image1_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image1_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image1_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image1_large.jpg"/>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="50" data-vertical="50"
                               data-show-transition="left" data-show-delay="400">
                                Lorem ipsum
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-horizontal="180" data-vertical="50"
                               data-show-transition="left" data-show-delay="600">
                                dolor sit amet
                            </p>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="315" data-vertical="50"
                               data-show-transition="left" data-show-delay="800">
                                consectetur adipisicing elit.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image2_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image2_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image2_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image2_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image2_large.jpg"/>

                            <h3 class="sp-layer sp-black sp-padding"
                                data-horizontal="40" data-vertical="40"
                                data-show-transition="left">
                                Lorem ipsum dolor sit amet
                            </h3>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="40" data-vertical="100"
                               data-show-transition="left" data-show-delay="200">
                                consectetur adipisicing elit
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-horizontal="40" data-vertical="160" data-width="350"
                               data-show-transition="left" data-show-delay="400">
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image3_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image3_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image3_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image3_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image3_large.jpg"/>

                            <p class="sp-layer sp-white sp-padding"
                               data-position="centerCenter" data-vertical="-50"
                               data-show-transition="right" data-show-delay="500" >
                                Lorem ipsum dolor sit amet
                            </p>

                            <p class="sp-layer sp-black sp-padding"
                               data-position="centerCenter" data-vertical="50"
                               data-show-transition="left" data-show-delay="700">
                                consectetur adipisicing elit
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image4_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image4_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image4_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image4_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image4_large.jpg"/>

                            <p class="sp-layer sp-black sp-padding"
                               data-position="bottomLeft" data-vertical="0" data-width="100%"
                               data-show-transition="up">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image5_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image5_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image5_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image5_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image5_large.jpg"/>

                            <p class="sp-layer sp-white sp-padding"
                               data-vertical="5%" data-horizontal="5%" data-width="90%"
                               data-show-transition="down" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image6_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image6_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image6_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image6_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image6_large.jpg"/>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="10" data-vertical="10" data-width="300">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image7_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image7_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image7_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image7_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image7_large.jpg"/>

                            <p class="sp-layer sp-black sp-padding"
                               data-position="bottomLeft" data-horizontal="5%" data-vertical="5%" data-width="90%"
                               data-show-transition="up" data-show-delay="400">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image8_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image8_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image8_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image8_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image8_large.jpg"/>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image9_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image9_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image9_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image9_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image9_large.jpg"/>

                            <p class="sp-layer sp-black sp-padding"
                               data-horizontal="50" data-vertical="50"
                               data-show-transition="down" data-show-delay="500">
                                Lorem ipsum dolor sit amet
                            </p>

                            <p class="sp-layer sp-white sp-padding"
                               data-horizontal="50" data-vertical="100"
                               data-show-transition="up" data-show-delay="500">
                                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                        </div>

                        <div class="sp-slide">
                            <img class="sp-image" src="../src/css/images/blank.gif"
                                 data-src="http://bqworks.com/slider-pro/images/image10_medium.jpg"
                                 data-small="http://bqworks.com/slider-pro/images/image10_small.jpg"
                                 data-medium="http://bqworks.com/slider-pro/images/image10_medium.jpg"
                                 data-large="http://bqworks.com/slider-pro/images/image10_large.jpg"
                                 data-retina="http://bqworks.com/slider-pro/images/image10_large.jpg"/>
                        </div>
                    </div>

                    <div class="sp-thumbnails">
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image1_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image2_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image3_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image4_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image5_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image6_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image7_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image8_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image9_thumbnail.jpg"/>
                        <img class="sp-thumbnail" src="http://bqworks.com/slider-pro/images/image10_thumbnail.jpg"/>
                    </div>
                </div>

                <div>

                    <p class="sub-cha-body">Station F是当今世界上最大的新兴企业创业空间，由1929年的老火车站Halle Freyssinet保留结构改造而成，总面积34000平方米。该项目的投资人是法国著名电信集团Iliad-Free的创始人、法国最大的投资人Xavier Niel，投资总额为2.5亿欧元。建成后的Station F内设有法国投资银行、法国邮政局、企业实验室、会议室、阶梯教室、餐厅、酒吧、咖啡馆、浴室等空间，可容纳至少1000家新兴企业、3000人。</p>
                    <p class="sub-cha-body">Station F位于巴黎市中心，塞纳河左岸，紧邻法国国家图书馆，五分钟路程内可抵达地铁站、公共电动车/自行车站、医院、浮动游泳池、健身中心、电影院、艺术画廊、5家药店、2个邮局和2个超市。</p>
                    <p class="sub-cha-body">Station F创业空间内部分为共享空间、创意空间和休闲空间。共享空间包括可容纳370人的礼堂、会议室、电话亭、样本制作实验（3D打印，激光切割）、咖啡间、风险投资机构和若干私营初创企业。位于中间部分的创意空间包含3000张办公桌、32间会议室、16间厨房/休闲空间和8个大型孵化器。休闲空间则有全天24小时开放的餐厅、厨房和酒吧，可为超过1000人提供座位。</p>
                    <p class="sub-cha-body">Station F目前的合作方有：Facebook，Amazon，VentePrivee，HEC，奥朗德基金会等国际知名企业、大学、创业机构等。欧创慧是Station F的唯一中法创始合作伙伴，加入欧创慧•中法，融入法国顶级创业生态圈。此外，欧创慧推出中法跨境孵化（CHA）项目，为两国间的跨境孵化者提供服务。</p>

                    <img class="sub-cha-body-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">

                    <div class="jumbotron jumbotron-fluid sub-cha-jum">
                        <div class="container">
                            <h1 class="display-3">欧创慧 • 中法</h1>
                            <p>公共区域工位租用：免费使用休息空间、定期使用小型会议室、大型会议室租用折扣、每月一次Station F内部Workshop、WiFi网络、保险、邮件和包裹收取、标准储物柜、清洁。
                            </p>
                        </div>
                    </div>

                    <div class="jumbotron jumbotron-fluid sub-cha-jum">
                        <div class="container">

                            <p class="lead">增值服务</p>
                            <p>外部来宾参观、额外储存空间、企业注册、法律咨询服务、财务代帐、公司注册地址、翻译、人力资源、软件开发</p>
                        </div>
                    </div>

                    <div class="sub-cha-adr">
                        <p>空间地址</p>
                        <p>55 Boulevard Vincent Auriol 75013 Paris</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>