<div class="hidden-xs">
    <div class="title-home">
        <h1>欧创慧</h1>
        <p>创新之旅</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">

                <div class="foodpageimg">
                    <p class="title-space">创新之旅</p>
                    <p class="title-space">Expédition d’affaire en Chine</p>
                </div>

                <div>
                    <p class="sub-cha-body">如果您是投资人想找海外优秀项目。</p>
                    <p class="sub-cha-body">如果您是设计师想来法国激发一下灵感。</p>
                    <p class="sub-cha-body">如果您是未来国际创业者想了解一下异国他乡的创业环境。</p>
                    <p class="sub-cha-body">——总有一款欧创慧创新之旅（OuiCrea Tour）会适合您。</p>
                    <p class="sub-cha-body">我们为各类不同人群定制专业的法国/中国创新之旅，我们将带着您：</p>
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        参观全球最大的创业空间Station F
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        参观法国最大的创客空间Usine IO，学习内部建模课程
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        面对面和法国的创新企业对话
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        了解法国巴黎创新创业政策（BpI France, Business France）
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        参加法国大型创新展（Future en Seine, Viva Technology, Hacking Hotel de Ville）
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        学习欧洲顶尖商校培训课程（INSEAD，HEC，SKEMA）
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        品味法国红酒和了解红酒文化
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        享受法国大餐和精通餐桌礼仪
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        鉴赏法国艺术和艺术家的轶事
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>

                <div class="media media-tour">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">Media object</h5>
                        领略经典景点和体验生活方式
                    </div>
                    <img class="d-flex ml-3 media-img" src="http://bqworks.com/slider-pro/images/image1_medium.jpg">
                </div>
            </div>
        </div>
    </div>
</div>