<div class="hidden-xs">
    <div class="title-home">
        <h1>欧创慧</h1>
        <p>创新之旅</p>
    </div>
    <video autoplay loop src="assets/video/video.mp4" class="video-home">
        <img src="assets/img/1.jpg">
    </video>
</div>

<div class="visible-xs">
    <img src="../../../assets/images/bg-image-1.jpg">
</div>

<div id="mainOrder" class="content-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 orderfood-index-bg">

                <div class="foodpageimg">
                    <p class="title-space">创新之旅</p>
                </div>

                <div>
                    <p class="sub-cha-body">如果您是投资人想找海外优秀项目。</p>
                    <p class="sub-cha-body">如果您是设计师想来法国激发一下灵感。</p>
                    <p class="sub-cha-body">如果您是未来国际创业者想了解一下异国他乡的创业环境。</p>
                    <p class="sub-cha-body">——总有一款欧创慧创新之旅（OuiCrea Tour）会适合您。</p>
                    <p class="sub-cha-body">我们为各类不同人群定制专业的法国/中国创新之旅，我们将带着您：</p>
                </div>

                <ul style="margin: 10px;font-size: 18px;">
                    <li>参观全球最大的创业空间Station F</li>
                    <li>参观法国最大的创客空间Usine IO，学习内部建模课程</li>
                    <li>面对面和法国的创新企业对话</li>
                    <li>了解法国巴黎创新创业政策（BpI France, Business France）</li>
                    <li>参加法国大型创新展（Future en Seine, Viva Technology, Hacking Hotel de Ville）</li>
                    <li>学习欧洲顶尖商校培训课程（INSEAD，HEC，SKEMA）</li>
                </ul>

                <div class="tour-image clearfix">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/27.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/28.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/29.jpg">
                    </div>
                </div>


                <div class="tour-image clearfix">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/30.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/31.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/32.jpg">
                    </div>
                </div>

                <div>
                    <ul style="margin: 10px;font-size: 18px;">
                        <li>品味法国红酒和了解红酒文化</li>
                        <li>享受法国大餐和精通餐桌礼仪</li>
                        <li>鉴赏法国艺术和艺术家的轶事</li>
                        <li>领略经典景点和体验生活方式</li>
                    </ul>
                </div>

                <div class="tour-image-1">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/33.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/34.png">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="">
                    </div>
                </div>

                <div class="tour-image-1">
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/35.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="assets/images/pic/36.jpg">
                    </div>
                    <div class="col-md-4">
                        <img ng-src="">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>